{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Category: {{ category | title }}</h1>
    <hr>
    {% for car in cars %}
        <h2><a href="{% url 'car_detail' car.title %}">{{ car.title }}</a></h2>
        <small>
            {{ car.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in car.categories.all %}
            <a href="{% url 'car_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
    {% endfor %}
</div>
{% endblock %}
