{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Category: {{ category | title }}</h1>
    <hr>
    {% for charger in chargers %}
        <h2><a href="{% url 'goe_charger_detail' charger.title %}">{{ charger.title }}</a></h2>
        <small>
            IP: {{charger.ipAddress}} | {{ charger.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in charger.categories.all %}
            <a href="{% url 'goe_charger_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        <p>{{ charger.connected_car | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}