{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_content %}

<h1 id="charger-name">{{ charger.title }}</h1>
<small>
    IP: {{ charger.ipAddress }} |
    {{ charger.created_on.date }} |&nbsp;
    Last updated: <span id="update-time">n.d.</span>&nbsp;|&nbsp;
    Categories:&nbsp;
    {% for category in charger.categories.all %}
    <a href="{% url 'goe_charger_category' category.name %}">
        {{ category.name }}
    </a>&nbsp;
    {% endfor %}
</small><br>
<hr>
<p id="car_selected">Selected car: None <a href="#">Info</a></p>
<hr>
<h3>Status</h3>
<h5 id="httpc"></h5>
<h5 id="car">Car status: </h5>
<h5 id="amp">I: <i>A</i></h5>
<h5 id="nrg">P: <i>W</i></h5>
<h5 id="alw">Charging status: </h5>
<h5 id="min-amp">I<sub>min</sub>: </h5>
<h5 id="control-mode">Control mode: </h5>
<h5>Control state: <span id="control-status">n.d.</span></h5>
<hr>
<h3>Configuration</h3>
{% comment %}
{% url 'goe_charger_detail' charger.title %}
{% endcomment %}
<form  id="change-car-form" class="form-inline" action="#" method="post">
    {% csrf_token %}
    {{car_form|crispy}}
</form>
<br>
<form id="custom-publish-form" class="form-inline"  action="#" method="post">
    {% csrf_token %}
    {{publish_form|crispy}}
    <button id="btn-test-text" type="submit" class="btn btn-secondary mb-2">Submit</button>
</form>
<br>
<form id="toggle-charging-form" class="form-inline"  action="#" method="post">
    {% csrf_token %}
    <button id="btn-toggle-charging" type="submit" class="btn btn-primary">Charge</button>
    <label for="control-mode-select" class="ml-sm-2">Control Mode</label>
    <select id="control-mode-select" class="ml-sm-2 select form-control" name="control-mode-select" onchange="changeControlMode();">
        <option value="on">On</option>
        <option value="off" selected>Off</option>
        <option value="solar">Solar</option>
    </select>
</form>
<hr>
<h4>Messages</h4>
<div class="table-responsive"></div>
    <table class="table">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Payload</th>
                <th>QOS</th>
                <th>Retained</th>
            </tr>
        </thead>
        <tbody id="messages-table">
        </tbody>
    </table>
</div>


<script type="text/javascript" defer>
    var charger_name = "{{charger.title|safe}}"
    var charging_state = "{{charger_data.alw|safe}}";
    if(charging_state == "charging"){
        charging_state = true;
    }
    else{
        charging_state = false;
    }
    console.log("charging_state is " + charging_state);
    if(charging_state){
        $("#btn-toggle-charging").html("Stop charging")
    }
    else{
        $("#btn-toggle-charging").html("Charge")
    }
</script>

<script type="text/javascript" src="{% static '/js/makeId.js' %}" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
<script type="text/javascript" src="{% static '/js/mqtt.js' %}" defer></script>
<script type="text/javascript" src="{% static '/js/changeCar.js' %}" defer></script>
<script type="text/javascript" src="{% static '/js/changeControlMode.js' %}" defer></script>
{% endblock %}
